.category {
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    flex-wrap: wrap;
}

.category__list {
    display: flex;
}

.category__list__left {
    flex: 70%;
    display: flex;
    flex-wrap: wrap;
}

.category__list__right {
    flex: 30%;
}