.cart__item{
    margin-bottom: 10px;
    padding: 0px 10px 2px 10px;
    border-bottom: 1px solid #1A3D5A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #1A3D5A;
}
.cart__item__left{
    flex: 70%;
}
.cart__item__right{
    flex: 30%;
}

.quantity{
    margin: 0px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantity > div{
    margin: 0px 10px 0px 10px;
}
.quantity > input{
    max-width: 30px;
}
.add,.remove{
    width: 10px;
    height: 10px;
    font-weight: bold;
    cursor: pointer;
}

.cart__item__right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart__item__right > p{
    margin-left: 20px;
    font-weight: bold;
    color: #1A3D5A;
}
.cart__item__right > button{
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
    background-color: #1A3D5A;
    color: white;
    border: none;
    border-radius: 10px;
}