.cart__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart{
    margin: 15vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    border: 2px solid #1A3D5A;
    border-radius: 20px;
    background-color: white;
}

.cart__detail > h2{
    margin: 10px;
    margin-bottom: 20px;
    color: #1A3D5A;
}
.total{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8E2D31;
    font-size: 20px;
}
.btn__cart{
    margin: 20px 50px 20px 50px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #1A3D5A;
}
.btn__cart:hover{
    background: linear-gradient(0deg,#8E2D31,#CD444A);
}