.button__top {
    margin-top: 10px;
    min-width: 180px;
    background-color: black;
    flex: 18%;
    border-right: 1px solid gray;
}

.button__top :hover {
    cursor: pointer;
    background-color: red;
}

.button__top__main {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__top__main > p {
    color: white;
    font-size: 20px;
    font-weight: bold;
}