.category {
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    flex-wrap: wrap;
}

.category__header {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    justify-content: center;
    align-items: center;
}

.category__list {
    display: flex;
}

.category__list__left {
    flex: 70%;
    display: flex;
    flex-wrap: wrap;
}

.category__list__right {
    flex: 30%;
}

.search__product {
    margin: 5vh 0vw 5vh 2vw;
    padding: 1.5vh 0.5vw 1.5vh 0.5vw;
    background-color: #C6C6CB;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__product > input {
    border: none;
    border-radius: 10px;
}

.search__product > button {
    padding: 7px;
    border: none;
    background-color: #1A3D5A;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.sort__product {
    margin: 5vh 0vw 5vh 2vw;
    padding: 1.5vh 0.5vw 1.5vh 0.5vw;
    background-color: #C6C6CB;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort__product > select {
    border: none;
    border-radius: 10px;
}

.sort__product > button {
    margin-left: 10px;
    padding: 7px;
    border: none;
    background-color: #1A3D5A;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}