.product__detail{
    margin: 5vh 5vw 5vh 5vw;
    padding: 5vh 5vw 5vh 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #C6C6CB;
    border-radius: 20px;
}

.detail__left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 50%;
}

.description__product{
    display: flex;
    flex-direction: column;
}
.description__product > h3{
    margin-bottom: 20px;
    color: #1A3D5A;
}
.description__product > p{
    margin-bottom: 20px;
    color: #1A3D5A;
    text-align: justify;
}

.image__product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image__product > img {
    margin-bottom: 20px;
}
.image__product > h1{
    color: #1A3D5A;
}

.detail__right{
    margin-left: 20px;
    flex: 40%;
}
.detail__right > button{
    padding: 2vh 4vw 2vh 4vw;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    background: linear-gradient(0deg,#1812707c,#291fb37c);
    color: white;
}
.detail__right> button:hover{
    background: linear-gradient(0deg,#8E2D31,#CD444A);
}

.detail__item{
    margin-bottom: 20px;
    padding: 10px;
    background-color: #1A3D5A;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: white;
}
.detail__item > h4, label{
    margin-right: 20px;
}