.create__product {
    margin-top: 10px;
    border: 1px solid #1D4363;
    display: flex;
    align-items: center;
    justify-content: center;
}
.create__product > form {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1D4363;
}
.form__group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__group > label, input {
    margin-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form__group > label {
    font-size: 15px;
    font-weight: bold;
}

.form__group > input {
    border: 0.5px solid #1D4363;
    border-radius: 10px;
}

.create__product > form > button {
    margin-right: 15px;
    padding: 10px;
    background-color: #E7544F;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}