.product__management {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#product__management__table {
    margin: 60px;
    width: 80%;
    border-collapse: collapse;
    text-align: center;
}
#product__management__table th {
    border-right: 1px solid #ffffff;
    padding: 8px 0 8px 0;
    background-color: #1D4363;
    color: #ffffff;
}
#product__management__table td {
    border-right: 1px solid #ffffff;
    padding: 8px 0 8px 0;
    background-color: #2B608C;
    color: #ffffff;
}

#product__management__table img {
    width: 50px;
}