.footer {
    padding: 20px 70px;
    background-color:#1D4363;
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 75);
}

.footer__left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__left > h5 {
    color: white;
}

.footer__left > img {
    cursor: pointer;
}

.footer__left > img, h5 {
    padding: 0px 5px;
}

.footer__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__right > img, .hotline {
    padding: 0px 5px;
}

.hotline > h3 {
    color: white;
}

.hotline > h4 {
    color: orange;
}

