.header{
    padding: 20px 70px;
    background-color:#1D4363;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 75);
}

.header__left{
    display: flex;
    justify-content: center;
}
.header__left > a >img{
    height: 30px;
    cursor: pointer;
}

.header__right{
    color: white;
    display: flex;
    justify-items: center;
}

.header__right__plus{
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__option{
    padding: 0px 5px;
    color: white;
    cursor: pointer;
}

.header__right > a > h4 {
    padding: 0px 5px;
    text-decoration: none;
    color: white;
}

.header__option:hover{
    color: #80B1DA;
}

.header__right > a :hover{
    color: red;
}

.login__status{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login__status > a{
    padding: 0 3px 0 3px;
    text-decoration: none;
    color: white;
}